.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: flex-end; }

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.topnav a:hover {
  background-color: #ddd;
  color: black; }

.topnav .icon {
  display: none; }

@media only screen and (max-width: 600px) {
  body {
    width: 100%; } }
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }

  .topnav a.icon {
    float: none;
    display: block; } }
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav.responsive a {
    float: bottom;
    display: block;
    text-align: left; } }
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: lightgray; }

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7); }

.wrapper > * {
  padding: 1em; }

.company-info {
  background: #c9e6ff; }

.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0; }

.contact {
  background: #f9feff; }

/* FORM STYLES */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }

.contact form label {
  display: block; }

.contact form p {
  margin: 0; }

.contact form .full {
  grid-column: 1 / 3; }

/*.contact form button, */
.contact form input, .contact form select {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff; }

.button1 {
  background-color: yellowgreen;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  line-height: 20px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes example {
  from {
    background-color: yellowgreen; }
  to {
    background-color: yellow; } }
/* #tech{
   
   width:100%;
   height:20px;
   background-color: red;
   
 }
 #dem {
  
   background-color: blue;
 }*/
#tech {
  justify-content: flex-start;
  border-bottom-color: darkolivegreen; }

#tech > div {
  margin: 10px;
  border: solid black;
  line-height: 30px;
  font-size: 20px; }

div#tech > div:nth-of-type(odd) {
  background: magenta; }

div#tech > div:nth-of-type(even) {
  background: skyblue; }

body {
  background: url(http://unsplash.it/1499/1000);
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

.blend {
  mix-blend-mode: exclusion;
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  flex-direction: column;
  font-size: 6vw; }

.red {
  color: red; }

.blue {
  color: blue; }

.green {
  color: green; }

blockquote {
  margin-bottom: 100px; }

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center; }

.box .inputBox {
  position: relative; }

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent; }

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .25s; }

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -28px;
  left: 0;
  color: #03a9f4;
  font-size: 12px; }

.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; }

#user:hover #drop {
  display: block; }

.container1 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: lightgray; }

.innercontainer1 {
  justify-content: flex-end; }

.flex-container {
  display: flex;
  background-color: #f1f1f1; }

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 1000px;
  margin: 10px;
  text-align: center;
  align-content: center;
  padding: 10px;
  margin: 0;
  align-items: baseline;
  font-size: 30px; }

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px; }

.topright1 {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  margin: 70px; }

.flex-footcontainer {
  display: flex;
  justify-content: flex-start;
  background-color: #555; }

.flex-footcontainer > div {
  width: 550px;
  margin-left: 200px;
  text-align: center;
  justify-content: center;
  line-height: 50px;
  font-size: 20px; }

/*# sourceMappingURL=styles.css.map */
